@page
@model WebChess.Pages.ChessModel
@{
    ViewData["Title"] = "Chess";
}

<div class="chessDesk" id="chessDesk">


</div>
<input asp-for="Party" hidden />
<input asp-for="UserBlack" hidden />
<input asp-for="InitialDesk" hidden />
@Html.AntiForgeryToken()

<script src="~/lib/svg/svg.js" asp-append-version="true"></script>
<script src="~/js/chess.js" type="module" asp-append-version="true"></script>
