@page
@model WebChess.Pages.SelectPartyModel
@{
    ViewData["Title"] = "SelectParty";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post" name="SelectParty" >
    <input asp-for="IsNew" />
    @if (Model.MyParties.Count != 0)
    {
        <select asp-for="SelectedParty">
            @foreach (var cnt in Model.MyParties)
            {
                <option value="@cnt.Id">@cnt.Id</option>
            }
        </select>
    }
    else
    {

    }
    <input type="submit" value="Ок"/>
</form>

