@page
@model WebChess.Pages.SelectPartyModel
@{
    ViewData["Title"] = "SelectParty";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post" name="SelectParty" >
    <input asp-for="IsNew" />
    <select asp-for="MyParties"></select>
    <input type="submit" value="Ок"/>
</form>

